@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 25px;

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: #27135b !important;
  color: #fff;
  border: none;
  border-radius: 3px;
  transition: background-color 0.3s;
  font-weight: 600;
  letter-spacing: 0.5px;

  &:hover {
    background-color: #3c2182 !important;
  }

  @media (max-width: 768px) {
    height: 40px;
    width: unset;
  }
}
